# Editor directories and files
*/.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python ignores
bin
back/lib
etc
share
include
pyvenv.cfg
venv

src/ml/data/processed
src/ml/data/unprocessed
src/ml/logs
src/ml/experiments
src/models
tests/random_stuff

__pycache__
.ipynb_checkpoints
*.pyc
