@use "./colours.scss" as colours;

:global(*) {
  font-family: sans-serif;
}

// This maybe should be moved back to styles/theme/_smui-theme.scss
:global(html, body) {
  background-color: colours.$background;//theme.$surface;
  color: colours.$background;//theme.$on-surface;
}

:global(h1, h2, h3, h4, h5, h6) {
  color: colours.$secondary-text;
}

:global(p) {
  color: colours.$secondary-text;
  font-weight: 4;
}

:global(
  .mdc-text-field,
  .mdc-text-field--outlined,
  .mdc-text-field__input,
  .mdc-text-field--label-floating,
  .mdc-button
  ) {
  background-color: white;
}
